Package: com.spicat.youpip
Name: YouPIP
Depends: mobilesubstrate, com.spicat.forceinpicture (>= 1.1) | gsc.ipad
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enable PIP in native YouTube app.
Maintainer: SpicaT
Author: SpicaT
Section: Tweaks
Depiction: https://spicat.github.io/depiction/youpip.html
